* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#530101 50%,#fcb35a);
 
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100vw;
  max-width: 45.5em;
  background-color: #FFE9B3;
  padding: 1.5em;
  border-radius: 0.6em;
  border: 3px solid #FFDC74;
  box-shadow: 1px 1px 20px 8px #fcb35a;
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  margin-bottom: 1.2em;
}

.search-container input {
  font-size: 1em;
  padding: 0.8em 0.8em;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #4e598c; /* un violet inchis */
  border-bottom: 1.5px solid #4e598c; /* un violet inchis */
}

.search-container input:focus {
  border-color: #FFC176;
}

.search-container button {
  font-size: 1em;
  border-radius: 2em;
  background-color: #FFC176; /* portocaliu aprins */
  border: none;
  outline: none;
  color: #4e598c; /* un violet inchis */
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

.search-container button:hover {
  background-color: #FFDC74; /* galben */
  transition: 0.3s;
  box-shadow: inset 3px 3px 10px 1px #140f00; /* bej */
  color: #4e598c; /* un violet inchis */
}

.search-container button:active{
  top: 2px;
  position: relative;
}

#user-inp{
  background: #530101;
  color: azure;
}

#result {
  color: #4e598c; /* un violet inchis */
  line-height: 2em;
}

#result img {
  display: block;
  max-width: 15.5em;
  margin: auto;
  border-radius: 15px;
}

#result h2 {
  font-size: 1.25em;
  margin: 0.8em 0 1.6em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #4e598c; 
  position: relative;
}

#result h2:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 3px;
  background-color: #FFDC74; /* galben */
  left: 42.5%;
  bottom: -0.3em;
}

#result h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.2em;
  color: #4e598c; /* un violet inchis */
}

#result ul {
  margin-bottom: 1em;
  margin-left: 1.8em;
  display: grid;
  grid-template-columns: auto auto;
}

#result li {
  margin-bottom: 0.3em;
}

#result p {
  text-align: justify;
  font-weight: 400;
  font-size: 0.95em;
}

.msg {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
}
